@charset "UTF-8";
div[class*="pane-facetapi"] ul, .region-sidebar-first .block-facetapi ul, .block-facetapi ul { margin: 0 0 0.5em; padding: 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
div[class*="pane-facetapi"] ul li.leaf, .region-sidebar-first .block-facetapi ul li.leaf, .block-facetapi ul li.leaf { border-bottom: 1px dotted #ccc; list-style-type: none; list-style-image: none; margin: 0; padding: 0; }
div[class*="pane-facetapi"] ul li.leaf li, .region-sidebar-first .block-facetapi ul li.leaf li, .block-facetapi ul li.leaf li { position: relative; }
div[class*="pane-facetapi"] ul li.leaf li a, .region-sidebar-first .block-facetapi ul li.leaf li a, .block-facetapi ul li.leaf li a { padding-right: 48px; }
div[class*="pane-facetapi"] ul li.leaf.last, .region-sidebar-first .block-facetapi ul li.leaf.last, .block-facetapi ul li.leaf.last { border-bottom: none; }
div[class*="pane-facetapi"] ul li.leaf li:before, .region-sidebar-first .block-facetapi ul li.leaf li:before, .block-facetapi ul li.leaf li:before { content: "\f178"; font-family: "FontAwesome"; position: absolute; top: 4px; right: 30px; }
div[class*="pane-facetapi"] ul li.leaf a, .region-sidebar-first .block-facetapi ul li.leaf a, .block-facetapi ul li.leaf a { color: #333333; display: block; padding: 4px 20px 4px 10px; position: relative; }
div[class*="pane-facetapi"] ul li.leaf a:hover, .region-sidebar-first .block-facetapi ul li.leaf a:hover, .block-facetapi ul li.leaf a:hover { color: #1a1a1a; background: rgba(0, 0, 0, 0.03); text-decoration: none; }
div[class*="pane-facetapi"] ul li.leaf a:hover:after, .region-sidebar-first .block-facetapi ul li.leaf a:hover:after, .block-facetapi ul li.leaf a:hover:after { content: "\f055"; color: #5cb85c; font-family: "FontAwesome"; position: absolute; top: 4px; right: 6px; }
div[class*="pane-facetapi"] ul li.leaf a.facetapi-active, .region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active, .block-facetapi ul li.leaf a.facetapi-active { background: #ccc; border-bottom: 1px solid #fff; color: #333; z-index: 0; }
div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:before, .region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:before, .block-facetapi ul li.leaf a.facetapi-active:before { content: ''; position: absolute; border-style: solid; border-width: 13px 0 13px 13px; border-color: transparent #ccc; display: block; width: 0; z-index: 1; right: -13px; top: 0; }
div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:after, .region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:after, .block-facetapi ul li.leaf a.facetapi-active:after { content: "\f00d"; font-family: "FontAwesome"; position: absolute; top: 3px; right: 6px; }
div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:hover:after, .region-sidebar-first .block-facetapi ul li.leaf a.facetapi-active:hover:after, .block-facetapi ul li.leaf a.facetapi-active:hover:after { color: red; }
div[class*="pane-facetapi"] a.facetapi-limit-link, .region-sidebar-first .block-facetapi a.facetapi-limit-link, .block-facetapi a.facetapi-limit-link { display: block; padding: 5px 30px 5px 5px; position: relative; }
div[class*="pane-facetapi"] a.facetapi-limit-link:before, .region-sidebar-first .block-facetapi a.facetapi-limit-link:before, .block-facetapi a.facetapi-limit-link:before { content: "\f150"; font-family: "FontAwesome"; position: absolute; top: 6px; right: 15px; }
div[class*="pane-facetapi"] a.facetapi-limit-link.open:before, .region-sidebar-first .block-facetapi a.facetapi-limit-link.open:before, .block-facetapi a.facetapi-limit-link.open:before { content: "\f151"; }

.facetapi-facet-field-license a { white-space: pre; /* CSS 2.0 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3.0 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ white-space: -moz-pre-wrap; /* Mozilla */ white-space: -hp-pre-wrap; /* HP Printers */ word-wrap: break-word; /* IE 5+ */ word-break: break-word; }

.pane-views-group-block-block, #block-views-group-block-block { overflow: hidden; }
.pane-views-group-block-block .views-field-title a, #block-views-group-block-block .views-field-title a { display: block; padding: .5em 0; }
.pane-views-group-block-block .views-field-body p, #block-views-group-block-block .views-field-body p { margin: .5em 0 1em; }
.pane-views-group-block-block .group-subscribe-message, #block-views-group-block-block .group-subscribe-message { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background: #0A77BD; color: #fff; padding: 5px; text-align: center; margin-left: -15px; margin-right: -15px; }
.pane-views-group-block-block .group-subscribe-message a, #block-views-group-block-block .group-subscribe-message a { color: #fff; display: block; }

.radix-layouts-sidebar .pane-block.pane-views-group-block-block .pane-content { padding: 0 15px; }

#block-dkan-dataset-dkan-dataset-dataset-help .content { padding: 10px; }

#block-dkan-forms-dkan-forms-dataset-help h2:before { content: "\f05a"; font-family: "FontAwesome"; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; font-size: 1.2em; line-height: 1; position: relative; top: 1px; margin-right: 0.4em; }

.pane-dkan-sitewide-demo-front-dkan-demo-front, #block-dkan-sitewide-demo-front-dkan-demo-front { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
.pane-dkan-sitewide-demo-front-dkan-demo-front p, #block-dkan-sitewide-demo-front-dkan-demo-front p { color: #ffffff; padding: 15px; }
.pane-dkan-sitewide-demo-front-dkan-demo-front .media-overlay, #block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay { position: relative; padding: 0; }
.pane-dkan-sitewide-demo-front-dkan-demo-front .media-overlay img, #block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay img { width: 100%; height: auto; }
.pane-dkan-sitewide-demo-front-dkan-demo-front .media-overlay .media-heading, #block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay .media-heading { background-color: rgba(0, 0, 0, 0.8); bottom: 0; color: #FFFFFF; font-size: 13px; left: 0; line-height: 18px; margin: 0; padding: 12px 10px; position: absolute; right: 0; z-index: 1; }

.region-content { margin: 0 15px; }

.breadcrumb, .alert, .tabs--primary, .page-header { margin: 0 15px 15px; }

.page-admin .region-content { margin: 0; }
.page-admin .breadcrumb, .page-admin .alert, .page-admin .tabs--primary, .page-admin .page-header { margin: 0 0 15px; }

.front .region-content { margin: 0; }
.front .alert { margin: 10px 15px; }

#panels-choose-layout .form-type-radio input, .panels-choose-layout .form-type-radio input { width: 15px; }

.radix-layouts-sidebar .pane-title { background-color: #ddd; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px; border-radius: 3px 3px 0 0; border-bottom: 1px solid #ddd; color: #333333; font-size: 14px; line-height: 1.3; margin: 0; padding: 7px 10px; }
.radix-layouts-sidebar .pane-block { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px; padding: 0px; }
.radix-layouts-sidebar .pane-block .pane-content { margin: 0; padding: 15px; }
.radix-layouts-sidebar div[class*="pane-facetapi"] .pane-content, .radix-layouts-sidebar .pane-dkan-sitewide-dkan-sitewide-social .pane-content { padding: 0; }

.page-user .radix-layouts-content .pane-content { padding: 0; }
.page-user .radix-layouts-content .pane-content .profile { margin-top: 0; }

.radix-layouts-content .pane-title { font-size: 30px; line-height: 36px; margin: 0 0 15px 0; padding: 0; }
.radix-layouts-content .pane-content { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px; padding: 0px; padding: 20px; margin-bottom: 3em; }
.radix-layouts-content .pane-content .pane-content { margin: 0; padding: 15px; }
.radix-layouts-content .pane-page-breadcrumb { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
.radix-layouts-content .pane-page-breadcrumb .pane-content { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; margin: 0; padding: 0; }
.radix-layouts-content .pane-page-breadcrumb .breadcrumb { display: block; margin: 0 0 15px 0; }

.page-manager-wrapper .panel-region .pane-title { background-image: none; border: none; font-size: 1em; line-height: normal; }
.page-manager-wrapper .panel-region .panel-pane-collapsible { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
.page-manager-wrapper .panel-region .panel-pane-collapsible .pane-content { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; margin: 0; padding: 0; }
.page-manager-wrapper .panel-region .panel-pane-collapsible .pane-content { padding: 10px 15px; }

.pane-content .field-name-body { line-height: 2em; }

.search-form, #dkan-sitewide-dataset-search-form, #dkan-sitewide-dataset-search-form--2 { position: relative; }
.search-form form, #dkan-sitewide-dataset-search-form form, #dkan-sitewide-dataset-search-form--2 form { display: block; margin: 8px 0; position: relative; width: 100%; }
.search-form input.form-text, #dkan-sitewide-dataset-search-form input.form-text, #dkan-sitewide-dataset-search-form--2 input.form-text { padding-right: 30px; }
.search-form button[type="submit"], .search-form input[type="submit"], #dkan-sitewide-dataset-search-form button[type="submit"], #dkan-sitewide-dataset-search-form input[type="submit"], #dkan-sitewide-dataset-search-form--2 button[type="submit"], #dkan-sitewide-dataset-search-form--2 input[type="submit"] { background: none !important; border: none; content: "\f002"; color: #555555; display: inline-block; font-size: 1.3em; font-family: "FontAwesome"; margin: 0; padding: 0; position: absolute; right: 10px; top: 3px; width: 25px; }

#dkan-sitewide-dataset-search-form input[type="submit"], #dkan-sitewide-dataset-search-form--2 input[type="submit"] { top: 3px; }

#block-dkan-sitewide-dkan-sitewide-search-bar { clear: both; }
@media all and (min-width: 768px) { #block-dkan-sitewide-dkan-sitewide-search-bar { position: absolute; top: 10px; right: 15px; width: 172px; }
  #block-dkan-sitewide-dkan-sitewide-search-bar form { width: 172px; }
  #block-dkan-sitewide-dkan-sitewide-search-bar input.form-control { width: 170px; height: 36px; margin: 0; } }
#block-dkan-sitewide-dkan-sitewide-search-bar form { display: block; margin: 8px 0; position: relative; width: 100%; }
#block-dkan-sitewide-dkan-sitewide-search-bar input.form-text { padding-right: 30px; }
#block-dkan-sitewide-dkan-sitewide-search-bar button[type="submit"], #block-dkan-sitewide-dkan-sitewide-search-bar input[type="submit"] { background: none !important; border: none; content: "\f002"; color: #555555; display: inline-block; font-size: 1.3em; font-family: "FontAwesome"; margin: 0; padding: 0; position: absolute; right: 10px; top: 3px; width: 25px; }
#block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .form-submit { margin: 22px 0 0; text-shadow: none; }
#block-dkan-sitewide-dkan-sitewide-search-bar input[type="submit"] { top: 3px; }

@media all and (max-width: 768px) { .node-dataset .resource-list li { padding-right: 0; }
  .node-dataset .resource-list li span.links { position: relative; top: auto; right: auto; margin: 10px 0; display: block; padding: 0; }
  .node-dataset .resource-list li a.btn { margin: 0 5px 10px 0; } }
.stages li { font-size: 14px; }

.node-type-dataset .field-name-field-tags .field-label, .node-type-dataset .field-name-field-topic .field-label, .node-type-dataset .field-name-field-preview-thumbail .field-label { font-size: 20px; font-weight: bold; margin-top: 2em; margin-bottom: .5em; }

.field-name-field-topic .field-item { display: inline-block; }

@media all and (max-width: 767px) { aside[class|='col'], section[class|='col'] { padding: 0; }
  .container { width: 100%; }
  .panel-full-width .panel-top .panel-col-first, .panel-full-width .panel-top .panel-col-second, .panel-full-width .panel-bottom .panel-col-first, .panel-full-width .panel-bottom .panel-col-second, .panel-full-width .panel-bottom .panel-col-third { width: 100%; float: none; }
  .panel-full-width .panel-top .panel-col-first .inside, .panel-full-width .panel-top .panel-col-second .inside, .panel-full-width .panel-bottom .panel-col-first .inside, .panel-full-width .panel-bottom .panel-col-second .inside, .panel-full-width .panel-bottom .panel-col-third .inside { margin: 20px 15px; } }
.admin-list dt, .admin-list dd { display: inline-block; float: none; vertical-align: top; }

.views-edit-view .action-list input.btn, .views-edit-view .action-list input.btn:active, .views-edit-view .action-list input.btn:focus, .views-edit-view .action-list input.btn:hover, .views-edit-view .action-list input[type="submit"]:hover { background: inherit; border: none; color: inherit; }
.views-edit-view .footer { background: inherit; }

.modal-content .panels-root-content-box a.btn { white-space: normal; }
.modal-content .panel-title { padding-right: 55px; }

.views-displays .secondary .open > a:hover { color: #666; }

input.form-submit.features-refresh-button { background: #0A77BD; }

.recline-pager .pagination li { vertical-align: middle; }
.recline-pager .pagination li a { line-height: 1em; padding: 0 10px; }
.recline-pager .pagination li a.btn { line-height: 32px; }
.recline-pager .pagination input { height: 20px; font-size: .8em; }

.recline-data-explorer .form-control { border-color: #ccc; }
.recline-data-explorer .btn { border: 1px solid #ccc; font-size: 14px; padding: 0px 12px; line-height: 32px; }

.dropdown-menu.slick-contextmenu { background: #fff; }
.dropdown-menu.slick-contextmenu li { padding-left: 5px; padding-right: 5px; }
