.search-form,
#dkan-sitewide-dataset-search-form,
#dkan-sitewide-dataset-search-form--2 {
  @include searchbox;
  position: relative;
}
#dkan-sitewide-dataset-search-form,
#dkan-sitewide-dataset-search-form--2 {
  input[type="submit"] {
    top: 3px;
  }
  label {
    @extend %screenreader;
  }
}

#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar label {
  @extend %screenreader;
}

#block-dkan-sitewide-dkan-sitewide-search-bar {
  @media all and (min-width:768px) {
    position: absolute;
    top: 10px;
    right: 15px;
    width:172px;
    form {
      width:172px;
    }
    input.form-control {
      width:170px;
      height: 36px;
      margin: 0;
    }
  }
  @include searchbox;
  clear: both;
  .views-exposed-form .form-submit {
    margin:22px 0 0;
    text-shadow: none;
  }
  input[type="submit"] {
    top: 3px;
  }
}


.facet-icon {
  font-size: 1.7em;
  padding-right: .3em;
  vertical-align: middle;
}

.search-result-icon {
  font-size: 2.6em;
  margin-top: 0.7em;
  display: block;
}

.node-search-result .icon-container {
  text-align: center;
}

.search-result-description {
  ul.resource-list {
    margin-top: 0.9em;
  }
  .resource-list li:first-child {
    margin-left: 0px;
  }
  .resource-list li a{
    margin-left: 0px;
  }
  .group-membership{
    font-size: 0.9em;
    font-style: italic;
    color: #999;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0px;
  }
}

//
// Search icons
// --------------------------------------------------
@font-face {
  font-family: 'dkan-dataset-search';
  src:    url('../fonts/dkan-dataset-search.eot?rrliwl');
  src:    url('../fonts/dkan-dataset-search.eot?rrliwl#iefix') format('embedded-opentype'),
  url('../fonts/dkan-dataset-search.ttf?rrliwl') format('truetype'),
  url('../fonts/dkan-dataset-search.woff?rrliwl') format('woff'),
  url('../fonts/dkan-dataset-search.svg?rrliwl#dkan-dataset-search') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-dkan-"], [class*=" icon-dkan-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dkan-dataset-search' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-dkan-"]:hover, [class*=" icon-dkan-"]:hover,
[class^="icon-dkan-"]:active, [class*=" icon-dkan-"]:active {
  text-decoration: none;
}

.icon-dkan:before {
  content: "\e906";
}
.icon-dkan-page:before {
  content: "\e906";
}
.icon-dkan-visualization:before {
  content: "\e900";
}
.icon-dkan-resource:before {
  content: "\e901";
}
.icon-dkan-group:before {
  content: "\e902";
}
.icon-dkan-feedback:before {
  content: "\e903";
}
.icon-dkan-dkan_data_story:before {
  content: "\e904";
}
.icon-dkan-dataset:before {
  content: "\e905";
}
.icon-dkan-data_dashboard:before {
  content: "\e907";
}

